.Schedule {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.Title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.DayIndicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ScheduleButton {
  border: none;
  height: 50px;
  width: 80%;
  border-radius: 5px;
  background-color: rgb(97, 97, 231);
  color: white;
}
