.ListTile {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.IconContainer {
  height: 45px;
  width: 45px;
  border-radius: 10px;
  background-color: rgb(189, 189, 218);
  float: left;
  vertical-align: middle;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-self: center;
}

.TitleContainer {
  width: auto;
  height: 45px;
  padding-left: 15px;
  font-size: 0.8em;
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
}

.Title {
  padding-bottom: 4px;
}

.SubTitle {
  color: grey;
}

.Image {
  width: 20px;
  height: auto;
  vertical-align: middle;
  align-self: center;
}
